body {
  counter-reset: thm lem def exp sec ssec;
}
/* section */
.section {
  counter-reset: ssec;
  counter-increment: sec;
  margin-top: 20px;
}
.section[text]:before {
  content: counter(sec) "\00a0\00a0\00a0\00a0"attr(text);
  font-size: 1.4em;
}
.subsection {
  counter-increment: ssec;
  margin-top: 10px;
}
.subsection[text]:before {
  content: counter(sec) "." counter(ssec) "\00a0\00a0\00a0\00a0"attr(text);
  font-size: 1.2em;
}
.appsubsection {
  counter-increment: ssec;
  margin-top: 10px;
}
.appsubsection[text]:before {
  content: counter(ssec, upper-alpha) "\00a0\00a0\00a0\00a0"attr(text);
  font-size: 1.2em;
}
.section[text]:before,
.subsection[text]:before,
.appsubsection[text]:before{
  font-family: 'STIX Two Text', serif;
  font-weight: 700;
  display: block;
  text-align: left;
}
/* amsthm */
.theorem {
  counter-increment: thm;
  display: block;
  font-style: italic;
}
.theorem:before {
  content: "Theorem " counter(thm) ".";
}
.theorem[text]:before {
  content: "Theorem " counter(thm) " (" attr(text) "). ";
}
.lemma {
  counter-increment: lem;
  display: block;
  font-style: italic;
}
.lemma:before {
  content: "Lemma " counter(lem) ".";
}
.lemma[text]:before {
  content: "Lemma " counter(lem) " (" attr(text) "). ";
}
.definition {
  counter-increment: def;
  display: block;
}
.definition:before {
  content: "Definition " counter(def) ".";
}
.definition[text]:before {
  content: "Definition " counter(def) " (" attr(text) "). ";
}
.example {
  counter-increment: exp;
  display: block;
}
.example:before {
  content: "Example " counter(exp) ". ";
}
.example[text]:before {
  content: "Example " counter(exp) " (" attr(text) "). ";
}
.proof {
  display: block;
}
.proof:before {
  content: "Proof.\00a0\00a0";
  font-style: italic;
}
.qed{
  display: block;
  text-align: right;
}
.cite {
  font-weight: 500;
  color:#1E3877;
}
.cite:before {
  font-weight: 400;
  color: black;
  content: "[";
}
.cite:after {
  font-weight: 400;
  color: black;
  content: "]";
}
.eqref {
  font-weight: 500;
  color:#1E3877;
}
.eqref:before {
  font-weight: 400;
  color: black;
  content: "(";
}
.eqref:after {
  font-weight: 400;
  color: black;
  content: ")";
}
.ref {
  font-weight: 500;
  color: #DD3403;
}
.caption {
  margin: 0 20px 15px 20px;
  font-size: 0.9em;
}
.caption[text]:before{
  content: attr(text) ": ";
  font-weight: 700;
  font-family: 'STIX Two Text', serif;
}
.bib{
  width:100%;
  overflow: auto;
  margin-bottom: 10px;
}
.bib-left{
  float: left;
  width:35px;
  padding-right: 3%;
  text-align: right;
  font-weight: 500;
  color:#1E3877;
}
.bib-left:before{
  font-weight: 400;
  color: black;
  content: "[";
}
.bib-left:after{
  font-weight: 400;
  color: black;
  content: "]";
}
.bib-right{
  float: right;
  /* width:93%; */
  width: -webkit-calc(97% - (35px));
  width: calc(97% - (35px));
  text-align: left;
  /* margin-left:auto; */
}

.theorem,
.lemma,
.example,
.definition{
  margin: 10px 0 10px 0;
}
.theorem:before,
.lemma:before,
.example:before,
.definition:before {
  font-weight: 700;
  font-style: normal;
  text-align: left;
}
.theorem,
.lemma,
.example:before,
.definition,
.proof:before,
.bib-left
.cite,
.eqref,
.ref{
  font-family: 'STIX Two Text', serif;
  font-size: 1.05em;
}
.equpic{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  margin: 10px 0;
}
